.banner{
	position: relative;
	display: block;
	width: 100%;
	background: $banner-background-color;
	padding: 2em 0;
}

.banner .row{
	position: relative;
}

/*==========  Avatar tête de souris  ==========*/
.avatar-wrapper{
	width: 100%;
	padding: 2em 0 3em;
}

.avatar{
	display: block;
	position: relative;
	width: 100px;
	height: 150px;
	margin: 0 auto;
  background-image: $avatar-fallback;
  background-repeat: no-repeat;
  background-size: (100%);
}

.svg .avatar{
  background-image: $avatar;
}

@media #{$topbar-media-query}{
	.avatar{
		width: 150px;
		height: 225px;
		margin: 0 auto;
	}
}
/*==========  end of Avatar  ==========*/


/*==========  creation-diapo  ==========*/
.creation-diapo{
	width: 100%;
	position: relative;
	text-align: center;
	@extend .clearfix;
}	
.creation-diapo-title {
	@extend .clearfix;
}

.creation-diapo-list li,
.creation-diapo-title {
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	color: $banner-font-color;
	.moustache{
		display: none;
	}
}
.creation-diapo-list{
	margin-bottom: 0;
	color: $banner-font-color;
	&:after{
		display: block;
		font-size: 2em;
		margin-top: -1em;
		content:'...';
	}
	li{
		width : 100%;
		display: block;
		@extend h3;
	}
}


@media #{$small}{
	.banner{
		padding: 4em 0;
	}
	.banner-home{
		padding: 3em 0;
	}	
	.creation-diapo-title,
	.creation-diapo-list li{
			font-size: 1.7em;
			margin: 0;
			padding: 0;
	}

	.creation-diapo-title{
		display: block;
		float: left;
		width: 50%;
		padding-right: 1.125em;
		text-align: right;
		span{
			line-height: 1.5em;
		}
		.moustache{
			position: absolute;
			top: -0.05em;
			right: 0;
			display: block;
			font-size: 3em;
			line-height: 1em;
		}
	}

	.creation-diapo-list{
		width: 50%;
		float: right;
		text-align: left;
		&:after{
			display: none; //hide the "..."
		}
		li{
			line-height: 3em;
			&:not(:nth-child(1)){
				// display: none;
			}
		}
		.hidden-diapo-list{
			display: none;
		}
		.visible-diapo-list{
			display: block;
		}
		.toggling-diapo-list{

		}		
	}	
}
/*==========  end of SMALL Mq  ==========*/


@media #{$topbar-media-query}{
	.creation-diapo{
		padding: 1em 0;
		font-size: 1.25em;
	}
}
@media #{$medium}{
	.creation-diapo{
		font-size: 1.75em;
	}
}
@media #{$large}{
	.creation-diapo{
		font-size: 1.9em;
	}
	.banner{
		padding: 4em 0;
	}
	.banner-home{
		padding: 8em 0;
	}
}