/*==========  fonts  ==========*/
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import "svg"; //dedicated file used for svg like logo and avatar

$sansFontFamily:        "Questrial", Helvetica Neue, Helvetica, Arial, sans-serif !default;
$serifFontFamily:       "Roboto Slab", Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

/**
*
* color variables from bootstrap
*
**/

// Grays
// -------------------------
$black:                 #2D2D2D !default;
$gray-darker:            #323232 !default;
$gray-dark:            	#4d4d4d !default;
$gray:                  #A0A0A0 !default;
$grayLight:             lighten($gray, 10%) !default;
$grayLighter:           #F1F1F1 !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #0B60B3 !default;
$blueDark:              #115699 !default;
$green:                 lighten(#c7d352, 10%) !default;
$orange:                #ca4f3b !default;
$orange:                #E46350 !default;
$orange:             		#E46350 !default;
$yellow:                #ffc40d !default;
$orange:                #E63126 !default;
$pink:                  #C80050 !default;
$purple:                #39398D !default;

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $gray-dark !default;

/*==========  components  ==========*/

// banner
$navbar-default-bg: $orange;
$banner-font-color: $grayLighter;

// microformats
$microformat-font-color: $gray;


/*==========  images  ==========*/
$image_folder: "../img/";

$logo-fallback: url($image_folder + "branding/logo-lsp.png");
$logo: $logo-svg;


$avatar: $avatar-svg;
$avatar-fallback: url($image_folder + "branding/souris-face-lsp.png");
$avatar-fallback-no-backgroundSize: url($image_folder + "branding/souris-face-transparent-no-background-size.png");

$map: url($image_folder + "map/map1.png");

/*==========  layout  ==========*/
$topbar-height: 60px !default;
$medium-topbar-height: 90px !default;
$large-topbar-height: 120px !default;


/*==========  Media Queries  ==========*/

$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";
$topbar-media-query: "only screen and (orientation: portrait)";



// Control padding and margin

$microformat-padding: emCalc(16);
// $microformat-margin: emCalc(0, 0, 20, 0);

// Control the border styles

$microformat-border-width: 1px;
$microformat-border-style: solid;
$microformat-border-color: $brand-primary;

// Control full name font styles

// $microformat-fullname-font-weight: bold;
// $microformat-fullname-font-size: emCalc(15);

// Control the summary font styles

// $microformat-summary-font-weight: bold;

// Control abbr padding
// $microformat-abbr-padding: emCalc(0, 1);

// Control abbr font styles

// $microformat-abbr-font-weight: bold;
// $microformat-abbr-font-decoration: none;
