/*==========  m-work-w-us-container  ==========*/

.work-w-us-container{
	background-color: $grayDarker;
	color: $grayLighter;
	padding: 3em 0;
	h2{
		color: $grayLighter;
		text-transform: uppercase;
		margin-top: 0;
	}
	a{
		color: $grayLight;
		&:hover{
			color: $white;
		}
	}
}

.work-w-us-prose,
.work-w-us-contact{
	@extend .left;
	padding: 0 0.9375em;
}
.work-w-us-contact{
	padding-top: 1em;
}

.work-w-us-prose-invite{
	display: block;
}

.contact-us-list{
	line-height: 2em;
	margin-bottom: 0;
	
	[data-icon]:before{
		display: inline-block;
		text-align: center;
		width: 1em;
	}
}

.contact-list-footer [data-icon]:before{
	margin-right: 0.5em;		
}

.no-touch .phone-link{
	cursor: text;
	border-bottom: none;
	color: inherit;
	&:hover{
		color: inherit;
	}
}

/*==========  site colophon with copy/credits and legal  ==========*/

.site-footer{
	background-color: $black;
	color: $grayLight;
	padding: 2em 0;
	line-height: 1.25em;
	a{
		color: $grayLight;
	}
}

.svg .credits [data-icon]:before {
	
}