.container {
	padding-top: $topbar-height; //we need a padding to account for the fixed header
}

.main{
	padding: 2em 0;
}

.main-home{
	// padding: 0;
}

@media #{$topbar-media-query} {
	.container {
		padding-top: $medium-topbar-height;
	}
	.sidebar{
		padding-top: $medium-topbar-height/3;
	}
	.main{
		padding: 4em 0;
	}	
}

@media #{$large} {
	.container {
		padding-top: $large-topbar-height;
	}
	.sidebar{
		padding-top: $large-topbar-height/3;
	}
	.main{
		padding: 8em 0;
	}	
}