// <p>
.leader{
	font-size: $h4-font-size - em-calc(5);
}

@media #{$small} {	
  p {
  	font-size: 1.25em;
  }
  .leader{ 
  	font-size: $h4-font-size
  }
}


// links
a{
  @include transition(all 0.3s ease-in-out);
}
.navlist a{
  text-decoration: none;
}

p,
.contact-us-list {
  a{
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    &:hover{
      border-bottom-width: 0.2em;
    }
  }
}

p a:hover{
  border-color: $anchor-font-color-hover;
}

.touch p a{
  line-height: 2em; //enlarge link height to enable big finger targeting
}

.oldie .leader{
  max-width: 900px;
}

.banner,
.banner-title{
  color: $banner-font-color ;
}

// lists
.contact-us-list,
.navlist,
.navlist ul,
.creation-diapo-list{
	list-style-type: none;
}

// microformats

.vcard {
  width: 100%;
  color: $microformat-font-color;
  // border: none;
}
.contact_title{
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 450px) {
  // .vcard {
  //   width: auto;
  // }
}